$spacer: 1em !default;
$table-selected-color: inherit !default;
$table-selected-bg: #e6f2fb !default;
$table-hover-color: inherit !default;
$table-hover-bg: rgba(0,0,0,0.04) !default;
$table-bg: white !default;
$table-border-color: #f3f2f1 !default;
// simple grid
.simple-grid {
    display: grid;
    overflow: auto;
    flex-grow: 1;
    --sg-grid-hover-bg: #{$table-hover-bg};
    --sg-grid-hover-color: #{$table-hover-color};
    --sg-grid-selected-bg: #{$table-selected-bg};
    --sg-grid-selected-color: #{$table-selected-color};
}

.sg-container {
    display: flex;
    overflow: hidden;
}

.sg-header, .sg-row {
    display: contents;
}

.simple-grid > div:not(.sg-row) {
    grid-column: 1 / -1
}

.sg-cell {
    white-space: nowrap;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
    border-bottom: solid 1px;
    border-color: #f3f2f1;
    overflow: hidden;
}

.sg-placeholder {
    grid-column: 1 / -1;
}

.sg-cell-frozen {
    position: sticky;
    z-index: 10;
    background: $table-bg;

    &.sg-header-cell {
        z-index: 12;
    }
}

.sg-header-cell {
    font-weight: 600;
    position: sticky;
    z-index: 11;
    top: 0;
    background: white;
    border-bottom: solid 1px #edebe9;
}

.sg-header-cell-resize {
    position: absolute;
    z-index: 11;
    height: 100%;
    width: 8px;
    right: 0;
    top: 0;
    cursor: ew-resize;

    &:hover {
        background: #f3f2f1;
    }
}

.sg-row {
    &:hover > .sg-cell {
        color: var(--sg-grid-hover-color);
        background-color: var(--sg-grid-hover-bg);
    }

    &:nth-child(even) > .sg-cell {
    }

    &.sg-row-selected > .sg-cell {
        color: var(--sg-grid-selected-color);
        background-color: var(--sg-grid-selected-bg);
    }
}



.sg-cell-input > * {
    margin: 1px;
}
