@typeparam TRow
<CascadingValue IsFixed="true" Value="this">
    <div class="@ResolveCssClass()" style="@ColumnDef.FrozenLeft" @key="ColumnDef">@ColumnDef.ChildContent?.Invoke(Data)</div>
</CascadingValue>
@{
    ShouldRenderFlag = false;
}