@typeparam TRow
<div class="sg-row @ResolveCssClass()" 
     @onclick="OnClick" data-row-index="@Index"
     @oncontextmenu="OnContextMenu" @oncontextmenu:preventDefault="Grid!.OnRowContextMenu.HasDelegate">
    @{ 
        if (_cellRefs == null)
        {
            _cellRefs = Grid!.ColumnDefinitions.Select(c => new CellRef(c)).ToList();
        }
    }
    <CascadingValue IsFixed="true" Value="this">
        @foreach (var cellRef in _cellRefs)
        {
            <Cell ColumnDef="cellRef.Column!" @key="cellRef" @ref="cellRef.Ref"></Cell>
        }
    </CascadingValue>
</div>
@{ 
    ShouldRenderFlag = false;
}