@typeparam TRow
<div class="sg-row" 
     @onclick="OnClick" 
     @oncontextmenu="OnContextMenu" @oncontextmenu:preventDefault="Grid!.OnRowContextMenu.HasDelegate">
    @{ 
        if (cellRefs == null)
        {
            cellRefs = Grid!.ColumnDefinitions.Select(c => new CellRef(c)).ToList();
        }
    }
    @foreach (var cellRef in cellRefs)
    {
        <Cell Data="Data" ColumnDef="cellRef.Column!" @key="cellRef" @ref="cellRef.Ref"></Cell>
    }
</div>