@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TRow
<CascadingValue Name="Grid" Value="this" IsFixed="true">
    @ChildContent

    <div class="sg-container @(@class)" @attributes="AdditionalAttributes" @ref="_elementRef">
        <input type="hidden" style="display:none" @onchange="CustomEventOnChange"/>
        <div class="simple-grid @CssClass" role="grid"
             style="grid-template-columns: @GridTemplateColumns;" 
             tabindex="-1">
            <div class="sg-header">
                @{int i = 0;}
                @foreach (var col in VisibleColumns)
                {
                    col.Index = i++;
                    col.IsFrozen = col.Index < FrozenColumns;
                    <Header ColumnDef="col" @key="col" />
                }
            </div>
            <Virtualize @ref="_virtualizeRef"
                        Items="_wrappedItems" 
                        ItemsProvider="@(_wrappedItems == null ? ProvideItems : null)"
                        ItemSize="RowHeight"
                        OverscanCount="OverscanCount"                        
                        Context="row">
                <ItemContent>
                    <Row Data="row.Row" Index="row.Index" @key="row.Row" />
                </ItemContent>
                <Placeholder>
                    <div class="sg-row" @key="row.Index">
                        <div class="sg-cell sg-placeholder"></div>
                    </div>
                </Placeholder>
            </Virtualize>

        </div>
    </div>
</CascadingValue>