@using Microsoft.AspNetCore.Components.Web.Virtualization
@typeparam TRow
<CascadingValue Name="Grid" Value="this" IsFixed="true">
    @ChildContent

    <div class="sg-container" @attributes="AdditionalAttributes" @ref="_elementRef">
        <div class="simple-grid @CssClass" style="grid-template-columns: @GridTemplateColumns;">
            <div class="sg-header">
                @{int i = 0;}
                @foreach (var col in ColumnDefinitions)
                {
                    col.Index = i++;
                    col.IsFrozen = col.Index < FrozenColumns;
                    <Header ColumnDef="col" @key="col" />
                }
            </div>
            <Virtualize @ref="_virtualizeRef"
                        Items="_wrappedItems" 
                        ItemsProvider="@(_wrappedItems == null ? ProvideItems : null)"
                        OverscanCount="OverscanCount"                        
                        Context="row">
                <ItemContent>
                    <Row Data="row.Row" Index="row.Index" @key="row.Row" />
                </ItemContent>
                <Placeholder>
                    <div class="sg-row">
                        <div class="sg-cell sg-placeholder" />
                    </div>
                </Placeholder>
            </Virtualize>

        </div>
    </div>
</CascadingValue>