@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <NavLink href="" Match="NavLinkMatch.All" class="p-2" ActiveClass="bg-primary text-white">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink href="/selection" class="p-2" ActiveClass="bg-primary text-white">Selection</NavLink>
            <NavLink href="/ordering" class="p-2" ActiveClass="bg-primary text-white">Ordering</NavLink>
            <NavLink href="/filtering" class="p-2" ActiveClass="bg-primary text-white">Filtering</NavLink>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
